
/* 
header{
    margin: 20px;
    color: white;
    background-color: #365d95;
    height: 200px;
    border: thin;
}

.nav{
    margin-top: -80px;
    background-color: #365d95;
    text-align: right;
    
    padding-right: 50px;
}

#nav-links{
    font-size: 40px;
    color: white;
}
.title{
    font-size: 70px;
    text-align: center;
    padding: center; 
    padding-top: 30px;
}

#bio-image{
    margin-left: 40px;
    width: 400px;
    height: 400px;
    float: left;
}

.container{
    margin-left: 40px;
    padding-left: 40px;
    background-color: #efefef;
    margin-right: 20px;
    
}

p{
    font-size: 30px;
}


a{
    color: #008ecc;
}

a.focus{
    color-adjust:  #365d95;
}

#pvlink{
    color: teal;
}


.image-gallery{
    padding-left: 20px;
    
}
.image{
    
    margin-right: 80px;
    float: left;
}

#photo1{
    padding-left: 30px;
    width: 400px;
    height: 400px;
}

#photo2{
    padding-left: 30px;
    padding-right: 30px;
    width: 700px;
    height: 400px;
}

#photo3{
    width: 520px;
    height: 400px;
}

#contact-info{

    padding-left: 30%;
    background-color: #efefef;
    font-size: 50px;
    align-content: center;
} */


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }